h1{
    background-color: black;
    color: white;
    text-align: center;
}
body{
    background-color: rgb(100, 95, 95);
    margin: 24px;
    padding-right: 16px;
}
H2{
    font-size: large;
}
.bag{
    text-align: center;
    background-color: rgb(239, 246, 248);
}
.bag2{
    color: white;
    text-align: center;
    background-color: rgb(110, 113, 114);
}
.btn{
    margin-top: 0;
}
.bt{
    margin-bottom: 0;
}